# PostgreSQL Settings
POSTGRES_USER=radius
POSTGRES_PASSWORD=strong_pg_password
POSTGRES_DB=radius

# Redis Settings
REDIS_PASSWORD=strong_redis_password

# FreeRADIUS Client Settings
RADIUS_CLIENT_IP=0.0.0.0/0
RADIUS_CLIENT_SECRET=testing123
